## Lists:

Question - Appending and Removing Elements: Create an empty list called my_list. Append
the numbers 1, 2, and 3 to my_list. Then remove the number 2 from the list.

In [18]:
my_list = []
my_list.append(1)
my_list.append(2)
my_list.append(3)
print(my_list)

my_list.remove(2)
print(my_list)

[1, 2, 3]
[1, 3]

Question- Accessing Elements: Create a list called fruits containing the strings "apple",
"banana", "cherry", "date". Print the second element of the list.

In [20]:
fruits = ['apple','banana','cherry','date']

print(fruits[1])

banana

Question- Slicing: Create a list called numbers containing the numbers from 1 to 10. Print a
slice of the list containing elements from the third element to the sixth element.

In [30]:
numbers = list(range(1,11))
print(numbers)

numbers[2:6]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[3, 4, 5, 6]

## Sets:

Question - Adding and Removing Elements: Create an empty set called my_set. Add the
numbers 1, 2, and 3 to my_set. Then remove the number 2 from the set.

In [47]:
my_set = set()
my_set.add(1)
my_set.add(2)
my_set.add(3)
print(my_set)

my_set.remove(2)
my_set

{1, 2, 3}

{1, 3}

Question - Operations: Create two sets called set1 and set2, each containing a few
numbers. Print the union, intersection, and difference of the two sets.

In [49]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

print(set1 & set2)
print(set1 | set2)
print(set1 - set2)

{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3}

## Tuples:

Question - Accessing Elements: Create a tuple called coordinates containing the latitude
and longitude of a location (e.g., (40.7128, -74.0060) for New York City). Print the latitude
and longitude separately.

In [55]:
coordinates = (40.7128,-74.0060,'New York City')

coordinates[0:2]

(40.7128, -74.006)

Question - Packing and Unpacking: Create a tuple called person containing information
about a person, such as their name, age, and city. Then unpack the tuple into individual
variables

In [59]:
person = ('Devam', 23, 'Dallas')

name, age, city = person

print(name)
print(age)
print(city)

Devam
23
Dallas